@import "../../styles/base.scss";

.detail-list {
  padding: 20px;
  .container {
    @include apply-at-lg-size {
      @include wrapper;
    }
    .navigate {
      @include row;
      align-items: center;
      @include apply-at-sm-size {
        @include col;
        align-items: start;
        gap: 20px;
      }
      .back-btn {
        @include row;
        color: $text-color;
        justify-content: center;
        gap: 10px;
        align-items: center;
        height: 40px;
        width: 110px;
        background-color: $color-elements;
        border-radius: 5px;
        box-shadow: 0px 1px 10px $shadow-color;
        text-decoration: none;
        @include apply-at-sm-size {
          max-width: 100px;
          width: 100%;
        }
      }
    }

    .flag-detail {
      margin-top: 60px;
      gap: 30px;
      img {
        width: 480px;
        @include apply-at-sm-size {
          width: 280px;
        }
      }
      .flag-info {
        @include row;
        gap: 20px;
        @include apply-at-sm-size {
          @include col;
        }
        .sub-info p {
          line-height: 2;
        }
      }
      .border-country {
        @include row;
        align-items: center;
        gap: 15px;
        margin-top: 40px;
        @include apply-at-md-size {
          @include col;
          align-items: start;
        }
        .border-item {
          @include row;
          gap: 10px;
          a {
            color: $text-color;
            text-decoration: none;
            padding: 5px 10px;
            background-color: $color-elements;
            box-shadow: 0px 1px 10px $shadow-color;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
